html {
	font-size: 16px;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
}

h1 {
	margin: 0;
	margin-bottom: 33px;
	text-align: center;
	 /* font-size: 1.875rem;  */ /* на согласовании так */
	font-size: 2.275rem;
	line-height: 1.2;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	font-weight: 500;
	font-size: 1.875rem;
	line-height: 1.5;
}

hr, p, h2 {
	margin: 0;
	padding: 0;
}

label {
	display: inline;
}

a.btn {
	display: inline-block;
	padding: 22px 39.5px;
	background-color: #ab425a;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1;
	border: 0;
}

.container {
	max-width: 1170px;
	padding: 0 30px;
}

/* Прижимаем футер */

.wrapper {
	min-height: 100%;
}

main {
	box-sizing: border-box;
	 min-height: 100%; 
	padding-bottom: 80px;
}

footer {
	height: 80px;
	margin-top: -80px;
}
/* ---------------------------------------- */

/* ----------------------------------------HEADER--------------------------------------------------------- */
header {
	background-color: #054080;
}

/* .btn-primary {
	display: none;
} */

.navbar {
	margin-bottom: 0;
}

.navbar-nav {
	float: right;
	width: 76%;
}

.navbar-brand {
	/*padding: 26px 15px;*/
	padding: 26px 3%;
}

/* .navbar-brand.main {
	padding: 26px 30px;	
} */

.navbar-default {
	background-color: /*#48587e;*/#563444;
	border: 0;
}

.navbar-nav>li>a {
	padding: 27px 0;
}

.logo {
	width: 45%;
}

.navbar-nav.nav-wrapper {
	width: 68%;
}

.navbar-default .navbar-nav>li>a {
	color: rgba(255, 255, 255, .5);
	/* шрифт меню Roboto light */
	/* font-family: 'OpenSans', sans-serif; */ 
	font-weight: 300;
	display: inline;
}

.navbar-default .navbar-nav>li.logo>a{
	display: block;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	transition: 0.5s;
}

/* .navbar-collapse {
	padding: 0;
} */

.navbar-default .navbar-nav>li>a.active-nav {
	border-bottom: 5px solid #ab425a;
	color: rgba(255, 255, 255, 1);
	list-style: none;
	padding-bottom: 25px;
	font-size: 1rem;
}

.navbar-nav>li:not(.logo) {
	padding-top: 32px;
	padding-bottom: 28px;
	/* padding-left: 5.9%; */
	box-sizing: border-box;
}

.navbar-nav>li:not(.logo):not(:last-child) {
	padding-right: 16.5%;
}

.nav-link {
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: 0.5s;
}

/* ------------------------------------END HEADER------------------------------------------------ */

/* --------------------------------------FOOTER------------------------------------------------- */
.main-footer {
	box-sizing: border-box;
	text-align: center;
	background-color: #271e22;
}

.copyright {
	box-sizing: border-box;
	padding: 25px 0;
	/* min-height: 80px; */
	vertical-align: middle;
	color: #ffffff;
	font-weight: 300;

}

.copyright span {
	line-height: 2.14;
	opacity: 0.7;
}

/* -------------------------------------END FOOTER------------------------------------------- */

.section-1.inner {
	position: relative;
	z-index: 10;
	padding: 0;
	min-height: 160px;
	background-image: url(../img/sec_1.jpg);
}

/* ----------------------------------------------INDEX------------------------------------------- */

.section-1 {
	/*padding: 122px 0;*/
	/*min-height: 550px;*/
	background-color: #7c8faf;
	/*background-image: url("../img/sec_1.jpg");*/
	background-size: cover;
	background-position: center;
	min-height: 531px;
	/*background-image: url(../img/sec_1.jpg);*/
}

.carousel-inner .item .carousel-img {
	width: 100%;
	
}

.carousel-inner .item {
	z-index: 14;
	min-height: 550px;
	
}

.carousel-inner .item:nth-child(1) {
	background-image: url(../img/sec_1.jpg);
}
.carousel-inner .item:nth-child(2) {
	background-image: url(../img/sec_1-2.jpg);
}
.carousel-inner .item:nth-child(3) {
	background-image: url(../img/sec_1-3.jpg);
}

.carousel-caption {
	height: 100%;
    right: 15%; 
    /*right: 0;*/
    /* bottom: 20px; */
    left: 15%;
    z-index: 10;
     padding-top: 106px; 
     padding-bottom: 120px; 
    color: #fff;
    text-align: left;
    /*text-shadow: 0 1px 2px rgba(0,0,0,.6);*/
    top: 0;
    z-index: 14;
}

.section-1 .slide {
	opacity: 1;
}

.item:first-child .carousel-text {
	padding: 93px 0 106px;
}
.item:nth-child(2) .carousel-text {
	padding: 77px 0 92px;
}
.item:last-child .carousel-text {
	padding: 118px 0 135px;
}
.section-1 b {
	display: block;
	/*margin-bottom: 32px;*/
	margin-bottom: 28px;
	font-weight: 700;
	/* font-size: 2.25rem; */ /* в соглласованном стоит такой, по макету 2.1875rem;*/
	font-size: 2.1875rem;
	line-height: 1.54; /* у нас по-умолчанию в соглласованном считался, был от body 1.42 */
	color: #ffffff;
	/*text-align: left;*/
	text-transform: uppercase;
}

.section-1 p {
	width: 78.08%;
	margin: 0;
	/*margin-bottom: 50px;*/
	margin-bottom: 43px;
	font-family: 'Open Sans', Arial,  sans-serif;
	font-weight: 300;
	font-size: 1.125rem;
	color: #ffffff;
	line-height: 1.55;
	/*text-align: left;*/
	transition: 0.5s;
}

/* .section-1 .btn {
	color: #ffffff;
	transition: 0.5s;
} */

/* .section-1 .btn:hover {
	background-color: #00acff;
	color: #ffffff;
	transition: 0.5s;
} */
.btn:hover {
	background-color: #8f3246;
	color: #ffffff;
	transition: 0.5s;
}
.btn:active {
	background-color: #8f3246;
	color: #ffffff!important;
}
.btn:focus{
	color: #ffffff!important;
}

#section-2 {
	/*margin-bottom: 59px;*/
	padding: 36px 0;
	background-color: #faf3f6;
}

#section-2  .container {
	margin: 0 auto;
}

.slider {
	padding: 0 15px;
}

.slick-prev {
	left: -15px;
}

.slide {
	opacity: 0.45;
}

.slide a {
	outline: 0;
}

.slide:hover {
	transition: 0.5s;
}

.slide:hover,
.slide:focus,
.slide:active {
	opacity: 1;
}

.flex-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
		justify-content: space-between;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
/* 	min-height: 650px; */
	margin-bottom: 60px;
}

.flex-el h2 {
	margin-bottom: 20px;
	line-height: 1; /* на согласовании 1.5 */
}

.flex-el img {
	width: 100%;
}

.flex-el:nth-child(1),
.flex-el:nth-child(3) {
	-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
}

.flex-el:nth-child(2),
.flex-el:nth-child(4) {
	 -ms-flex-preferred-size: 50%;
		 flex-basis: 50%; 
}

.flex-el:nth-child(2), .flex-el:nth-child(4) {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
		flex-direction: column;
	-ms-flex-pack: center;
		justify-content: center;
	-ms-flex-align: center;
		align-items: center;
}

.flex-el:nth-child(3) {
	 -ms-flex-order: 1;
		 order: 1; 
}

.flex-el p {

	/* на согласовании был шрифт Roboto, без прописанного font-weight*/
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	font-size: 1rem;
	/* line-height: 1.5; *//* на согласовании был эта высота*/
	line-height: 1.625;
	color: #585858;
}

.text-wrap {
	display: inline-block;
	width: 83%;
	/* в изначальном */
	/* width: 78%; */
}

.section-4 {
	padding: 66px 0 63px 0;
	background-image: url(../img/footer.jpg);
	background-size: cover;
	background-position-x: 55%;
}

.btn-wrapper {
	text-align: center;
}

.section-4 a.btn {
	padding: 22px 38px;
	margin: 0 auto;
/* 	color: #ffffff!important;
transition: 0.5s; */
}

/* .section-4 a.btn:hover {
	background-color: #f89500;
	color: #ffffff;
	transition: 0.5s;
}

.section-4 a.btn:active {
	background-color: #d47f00;
	color: #ffffff;
} */

/* ----------------------------------------------END INDEX------------------------------------------- */

/* -----------------------------------------------CATALOG-------------------------------------------- */

.inner h1 {
	color: #021b37;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	margin-top: 57px;
	margin-bottom: 29px;
}

.inner h2 {
	color: #021b37;
	font-weight: 400;
	font-size: 1.9rem;
	text-transform: none;
	text-align: left;
	margin-bottom: 22px;
}

.shop-item {
	/* padding-top: 45px; */ /* в согласованном */
	padding-top: 38px;
}

.shop-item:last-child {
	margin-bottom: 72px;
}

.catalog.inner p {
	/* margin-bottom: 44px; */ /* в согласованном */
	margin-bottom: 40px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #585858;
}

a.name-lable {
	color: #021b37;
	text-decoration: none;
}

.name-lable-img {
	display: block;
	width: 255px;
	height: 117px;
}

/* ------------------------------------------------END CATALOG----------------------------------------------- */

/* ----------------------------------------------TABLES (LABELS)--------------------------------------------- */

/*DROPDOWN*/
.dropdown {
	display: inline-block;
	margin-left: 10px;
}

.dropdown-toggle {
	background: none;
	border: 1px solid #c7cece;
	width: 290px;
	text-align: left;
	line-height: 30px;
	padding-left: 10px;
}

.caret {
	float: right;
	display: inline-block;
	margin-top: 13px;
}

.dropdown-menu {
	margin: 0;
	list-style-type: none;
	border: 1px solid #c7cece;
	border-top: none;
	display: inline-block;
	padding: 0;
	position: absolute;
	z-index: 99;
	background: #ffffff;
	border-radius: 0;
	font-size: 0.9rem;
	box-shadow: none;
	display: none;
	width: 290px;
	height: 180px;
	overflow-y: scroll;
	cursor: pointer;
}

.dropdown-item {
	line-height: 30px;
	vertical-align: middle;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	transition: all 0.5s;
}

.dropdown-item:hover {
	background: #c7cece;
	transition: 0.6;
}

/*END DROPDOWN*/

.labels.inner h1 {
	margin-bottom: 40px;
}

.labels.inner .select {
	margin-bottom: 20px;
}

.labels.inner .select span {
	display: inline-block;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #000000;
	font-size: 0.9rem;
	line-height: 1.5;
}

.labels.inner .select select {
	width: 24.7008547008547%;
	height: 2.64957264957265%;
}

.table {
	display: table;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 72px;

}

/*.table.active {
	margin-bottom: 72px;
}*/

.table-row {
	display: table-row;
	/* height: 48px; */
	padding: 0;
	color: #585858;
}

.table-row:nth-child(odd):not(:first-child) {
	background-color: #ede8eb;
}

.table-cell {
	display: table-cell;
	/* padding-left: 20px;
	padding-top: 13px; */
	padding: 13px 0 13px 20px;
	vertical-align: middle;
}

/* .table-row .table-cell:last-child {
		padding-left: 118px;
}
 */
.table-header {
	background-color: #8d3d52;
	color: #ffffff;
}

.price-link {
	color: #ab425a;
	text-decoration: underline;
}

.padding-15 {
	padding: 0 15px;
}

.footnote {
	padding: 0 20px;
	margin-bottom: 70px;
}

.error-message {
	color: red;
}

/* ----------------------------------------------END TABLES (LABELS)--------------------------------------------- */

/* ---------------------------------------------------FEEDBACK-------------------------------------------------- */

.feedback.inner.section {
	margin-bottom: 71px;
}

.feedback.logo {
	width: 100%;
}

.feedback.logo div {
	display: inline-block;
	margin-right: 4%;
	cursor: pointer;
}

.feedback.logo img {
	opacity: 0.3;
	transition: 0.5s;

}

.feedback.logo img {
	padding-top: 55px;
	padding-bottom: 77px;
	transition: 0.5s;
}

.feedback.logo .active-logo img{
	opacity: 1;
}

.feedback.logo  img:hover {
	opacity: 1;
	transition: 0.5s;
}

.feedback h1 {
	color: #021b37;
	font-weight: 700;
	text-transform: none;
	text-align: left;
	margin: 0;
	margin-bottom: 30px;
}

.feedback h1 span {
	font-weight: 300;
}

.user-name {
	margin-bottom: 10px;
}

.user-pic {
	margin-right: 22px;
}

.user-name div {
	display: inline-block;
}

 .rating {
	float: right;
}
 
.user-name div span {
	display: block;
}

.user-name div span:nth-child(1) {
	color: /* #054080; */#ab425a;
	font-size: 1.25rem;
	/*line-height: 1.5;*/ /* на согласовании так*/
	line-height: 1.2;
	font-weight: 400;
}

.user-name div span:nth-child(2) {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 0.75rem;
	line-height: 1.875;
	color: rgba(0, 0, 0, 0.6);
}

.feedback h2 {
	width: 54.27350427350427%;
	margin-bottom: 18px;
	color: #021b37;
	font-size: 1.5rem;
	line-height: 1.08;/*  был по умолчанию от h2 1.5 */
}

.feedback-container {
	padding: 30px 0;
}

.feedback-container p {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5; /* был 1.42857143 */
	color: #585858;
}

.feedback-container .minus {
	margin-bottom: 16px;
}

.feedback-text {
	height: 97px;
	margin-bottom: 10px;
    overflow: hidden;
    transition: 0.5s;
}

/* hr:last-child {
	margin-bottom: 70px;
} */

.feedback-container .text {
	margin-bottom: 10px;
}

.feedback-container .minus span,
.feedback-container .plus span {
	font-weight: 700;
}

.feedback-container img {
	margin-bottom: 20px;
}

.inactive {
	opacity: 0.3;
}

.feedback-container a {
	display: inline-block;
	font-family: 'Open Sans', Arial, sans-serif;
}

.feedback-container .more,
.feedback-container .less{
	width: 65.96%;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: underline;
	font-size: 0.75rem;
}

.feedback-container .link {
	float: right;
	color: /*#054080;*/#ab425a;
	font-size: 1rem;
}

.links span {
	cursor: pointer;
	font-family: 'Open Sans', Arial, sans-serif; /* на согласовании Roboto */
}

.feedback.inner::after {
	content: "";
	display: block;
	width: 100%;
	height: 70px;
}


/* ----------------------------------MEDIA QUERIES------------------------------------ */

/* @media (max-height: 1000px) {

	.section-1 {
		padding: 61px;
	}
	.section-1 b {
		font-size: 1.7rem;
		line-height: 1.7;
	}
	.section-1 p {
		font-size: 1.1rem;
		line-height: 1.6;
	}

	.section-1 a {
		font-size: 1.1rem;
		padding: 18px 65px
	}
} */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.navbar-nav>li:not(.logo):not(:last-child) {
		padding-right: 5.7%;
	}

	.navbar-nav.nav-wrapper {
		width: 71%;
	}

	.section-1 {
		padding: 60px 0;
	}

	.slick-slide img {
		width: 100%;
	}

	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}
	.section-4 {
		padding: 50px 0 50px 0;
	}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		position: relative;
	}

	.navbar-nav.nav-wrapper {
		width: 76%;
	}

	.navbar-nav {
		width: 70%;
	}

	.navbar-nav>li:not(.logo):not(:last-child) {
		padding-right: 10.8%;
	}
	.navbar-nav>li:not(.logo) {
		padding-left: 0;
	}
	.navbar-nav>li a,
	.navbar-default .navbar-nav>li>a.active-nav {
		font-size: 0.8571428571428571rem;
	}

	.section-1 {
		padding: 40px 0;
	}

	.section-1 b {
		font-size: 1.8rem;
		margin-bottom: 20px;
	}
	.section-1 p {
		font-size: 1.025rem;
		margin-bottom: 40px;
	}

	a.btn {
		padding: 20px 60px;
	}

	.slick-slide img {
		width: 100%;
	}

	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}

	.flex-el:nth-child(1),
	.flex-el:nth-child(2),
	.flex-el:nth-child(3),
	.flex-el:nth-child(4) {
		flex-basis: 100%;
		margin-bottom: 59px;
	}

	.flex-el:nth-child(3) {
		order: 0;
	}

	.flex-container {
		margin-bottom: 0;
	}

	.text-wrap {
		width: 100%;
	}

	.text-wrap h2 {

	}

	.section-4 {
		padding: 50px 0 50px 0;
	}

	h1 {
		font-size: 1.675rem;
	}

	.section-4 {
		padding: 40px 0;
	}
	.section-4 a.btn {
		padding: 18px 33px;
	}
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		position: relative;
	}

	

	.navbar-nav>li:not(.logo):not(:last-child) {
		padding-right: 10.8%;
	}
	.navbar-nav>li:not(.logo) {
		padding-left: 0;
	}
	.navbar-nav>li a,
	.navbar-default .navbar-nav>li>a.active-nav {
		font-size: 0.8571428571428571rem;
	}

	.section-1 {
		padding: 40px 0;
	}

	.section-1 b {
		font-size: 1.8rem;
		margin-bottom: 20px;
	}
	.section-1 p {
		font-size: 1.025rem;
		margin-bottom: 40px;
	}

	a.btn {
		padding: 20px 60px;
	}

	.slick-slide img {
		width: 100%;
	}

	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}

	.flex-el:nth-child(1),
	.flex-el:nth-child(2),
	.flex-el:nth-child(3),
	.flex-el:nth-child(4) {
		flex-basis: 100%;
		margin-bottom: 59px;
	}

	.flex-el:nth-child(3) {
		order: 0;
	}

	.flex-container {
		margin-bottom: 0;
	}

	.text-wrap {
		width: 100%;
	}

	.section-4 {
		padding: 50px 0 50px 0;
	}

	h1 {
		font-size: 1.675rem;
	}

	.section-4 {
		padding: 40px 0;
	}
	.section-4 a.btn {
		padding: 18px 33px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		position: relative;
	}

	.navbar-nav.nav-wrapper {
		width: 67%;
	}


	.navbar-nav>li:not(.logo):not(:last-child) {
		padding-right: 10.8%;
	}
	.navbar-nav>li:not(.logo) {
		padding-left: 0;
	}
	.navbar-nav>li a,
	.navbar-default .navbar-nav>li>a.active-nav {
		font-size: 0.8571428571428571rem;
	}

	.section-1 {
		padding: 40px 0;
	}

	.section-1 b {
		font-size: 1.8rem;
		margin-bottom: 20px;
	}
	.section-1 p {
		font-size: 1.025rem;
		margin-bottom: 40px;
	}

	a.btn {
		padding: 20px 60px;
	}

	.slick-slide img {
		width: 100%;
	}

	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}

	.flex-el:nth-child(1),
	.flex-el:nth-child(2),
	.flex-el:nth-child(3),
	.flex-el:nth-child(4) {
		flex-basis: 100%;
		margin-bottom: 59px;
	}

	.flex-el:nth-child(3) {
		order: 0;
	}

	.flex-container {
		margin-bottom: 0;
	}

	.text-wrap {
		width: 100%;
	}

	.section-4 {
		padding: 50px 0 50px 0;
	}

	h1 {
		font-size: 1.675rem;
	}

	.section-4 {
		padding: 40px 0;
	}
	.section-4 a.btn {
		padding: 18px 33px;
	}
}


